
<form [formGroup]="form">
    <div class="form-group">
        <label for="username" class="form-label">User Name</label>
        <input
        formControlName="username"
        type="text" 
        class="form-control" 
        name="username" 
        id="username">
    </div>
    <div *ngIf="accessUserName?.touched && accessUserName?.invalid" class="alert alert-danger">
        <div *ngIf="accessUserName?.errors?.['required']">Username is Required</div>
        <!-- Custom Async Directive -->
        <div *ngIf="accessUserName?.errors?.['shouldBeUniqueAsync']">Should Be Unique Async</div>
    </div>
    <div class="form-group">
        <label for="password" class="Password">Password</label>
        <input
        formControlName="password"
        type="password" 
        class="form-control" 
        name="password" 
        id="password">
    </div>
    <div *ngIf="accessPassword?.touched && accessPassword?.invalid" class="alert alert-danger">
        <div *ngIf="accessPassword?.errors?.['required']">Password is Required</div>
        <div *ngIf="accessPassword?.errors?.['minlength']">Password should be minimum {{accessPassword?.errors?.['minlength']?.requiredLength}} characters</div>
        <!-- Custom Directive -->
        <div *ngIf="accessPassword?.errors?.['cannotContainSpace']">cannot contain  space</div>
    </div>

    <button type="submit">Login</button>
</form>
